<p>
  <strong>User:</strong>
  <%= @gossip.user.username %>
</p>

<p>
  <strong>Content:</strong>
  <%= @gossip.content %>
</p>

<% if current_user == @gossip.user %>
  <%= link_to 'Edit', edit_gossip_path(@gossip) %> |
  <%= link_to 'Back', gossips_path %>
<% else %>
  <%= link_to 'Back', gossips_path %>
<% end %>